<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main id="app">
        <section id="lateral-menu">
            <div class="imgs-lat">
                <a href="https://3cplusnow.com/" target="_blank">
                    <img src="./img/logoC.png" alt="logo 3c" id="img-3c">
                </a>
                <a :href="'tel:' + usuariosSelecionados.phoneNumber" target="_blank">
                    <img src="./img/phone.png" alt="icon phone" id="img-phone">
                </a>
                <a :href="'https:api.whatsapp.com/send?phone=' + usuariosSelecionados.phoneNumber" target="_blank">
                    <img src="./img/whatsapp.png" alt="" id="img-whats">
                </a>
            </div>
            <div class="user-icon">
                <img src="./img/User.png" alt="user icon">
            </div>
        </section>
        <section id="side-bar">
            <h2>Omnichannel 3C+</h2>
            <div id="search">
                <input type="text" name="pesquisar" id="input-search" placeholder="     Pesquisar">
                <a href="#"><img src="./img/Novo.png" alt="icon novo"></a>
            </div>
            <div id="interaction">
                <a href="#" class="intSelected">Conversas</a>
                <a href="#" class="intSelected">Grupos</a>
                <a href="#" class="intSelected">Fila</a>
                <a href="#" class="intSelected">...</a>
            </div>
            <div id="avatars">
                <div class="user" @click="selecionar($event, user)" v-for="user in users"
                    @click="user.active = !user.active" :class="{selected : user.active}">
                    <img :src=user.photo alt="avatar">
                    <span>
                        <h4>{{user.name}}</h4>
                        <p>Mensagem do usuario</p>
                    </span>
                    <p class="hour">09:13</p>
                </div>

            </div>
        </section>
        <section id="center">
            <div class="top">
                <div class="user-top" v-for="(usuario, index) in usuariosSelecionados" :key="index">
                    <img :src="usuario.photo" alt="user photo">
                    <div class="top-spans">
                        <span>{{usuario.name}}</span>
                        <span>Agente: Alanis Machado</span>
                    </div>
                </div>
                <div class="top-finalizar">
                    <Button v-if="talkStart" @click="finalizar">Finalizar</Button>
                    <a href="" v-if="talkStart">
                        <span>...</span>
                    </a>
                </div>
            </div>
            <div class="talk-center">
                <div class="protocol">
                    <p class="day"></p>
                    <span class="call"></span>
                </div>
                <p class="talk"></p>
            </div>
            <div class="footer">
                <div class="responder">
                    <h3>Responder ao cliente</h3>
                    <span>
                        <a href="#">
                            <img src="./img/Nota Interna.png" alt="nota interna">
                        </a>
                        <a href="#">
                            <img src="./img/Emoji.png" alt="emoji">
                        </a>
                        <a href="#">
                            <img id="buttonArq" src="./img/Arquivo.png" alt="Selecionar arquivo">


                        </a>
                    </span>
                </div>
                <div class="respostaAut">
                    <textarea class="resposta" @keyup.enter="enviar">
                        A 3C Plus é uma empresa de tecnologia que se especializa em fornecer soluções para ajudar outras empresas a aprimorar suas operações de atendimento ao cliente. Suas ofertas podem incluir uma variedade de serviços e produtos projetados para otimizar as interações entre as empresas e seus clientes, independentemente do canal de comunicação utilizado.
                    </textarea>
                    <a href="">
                        <img src="./img/Emoji (1).png" alt="" @click="enviar">
                    </a>
                </div>
            </div>
        </section>







    </main>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <script src="script.js" defer></script>
</body>

</html>