* {
    margin: 0;
    padding: 0;
    font-family: 'minhafonte', Arial, Helvetica, sans-serif;
}

@font-face {
    font-family:'minhafonte';
    src:url("./assets/fonts/CerebriSansPro-Medium.ttf");
    
}

body html {
    height: 100%;
    
}

/* Conteudo Total */
main {
    display: grid;
    grid-template-columns: 1fr 4fr 21fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
}

/* Menu Lateral */
#lateral-menu {
    grid-area: 1 1 2 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-top: 1px solid #d9dce0;
    border-bottom: 1px solid #d9dce0;
    border-left: 1px solid #d9dce0;
    
}

.imgs-lat {
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
}

#img-3c {
    width: 80px;
}

#img-phone {
    width: 20px;
}

#img-whats {
    width: 20px;
}

#side-bar {
    grid-area:1 1 2 2 ;
}

#center {
    grid-area: 1 1 2 2;
}



/* SideBar Contatos */
#side-bar {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid #d9dce0;
    padding: 10px;
    overflow: auto;
}

#side-bar h2 {
    margin-top: 10px;
    border-bottom: 1px solid #d9dce0;
    font-size: 18px;
    padding-bottom: 10px;
}

.intSelected {
    font-weight: 600;
}

.intSelected:active,
.intSelected:focus{
    color: #3057f2 !important;
    border-bottom: 3px solid #3057f2;
}

#search {
    display: flex;
    justify-content: space-around;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    
}

#input-search {
    padding-left: 20px;
    background-image: url('./img/search.png');
    background-repeat: no-repeat;
    background-position: 5px center;
    border: none;
}

#input-search:focus {
    background-image: none;
}

#interaction {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #d9dce0;
    margin-top: 20px;
}

#interaction a {
    text-decoration: none;
    color: black;
}

.user {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 4px;
    cursor: pointer;
}

.selected{
    background-color: #d9dce0;
    border-radius: 15px;

}

.hour {
    font-size: 12px;
    color: #656668;
}


/* Conteudo Central - conversas */
#center {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-top: 1px solid  #d9dce0;
    border-bottom: 1px solid  #d9dce0;
    border-right: 1px solid  #d9dce0;
    background-image: url('./img/Rectangle\ 2101.png');
}

.top {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: white;
    border-bottom: 1px solid #d9dce0 ;
}

.user-top {
    display: flex;
    height: 50px;
    padding: 20px;
}

.top-finalizar {
    display: flex;
    width: 200px;
    justify-content: space-around;
    align-items: center;
}

.top-finalizar a {
    text-decoration: none;
}

.top-finalizar button {
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
}

.top-finalizar span {
    font-size: 20px;
}

.top-spans {
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
}

.talk-center {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.protocol {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70px;
    justify-content: space-around;
    margin-bottom: 50px;
    align-self: center; /* Centraliza o elemento .protocol */
}


.talk p {
    margin-top: 20px;
    background-color: #d9dce0;
    padding: 5px;
    border-radius: 9px;
    max-width: 500px;
    display: flex;
}



/* Conversas - Footer */
.footer {
    border-top: 1px solid #d9dce0;
    padding: 20px;
    background-color: white;
}

.responder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d9dce0;
    margin: 15px 15px;
}

.responder span {
    display: flex;
    justify-content: space-around;
    width: 150px;
}

.respostaAut {
    display: flex;
    justify-content: space-around;
    margin: 20px 20px
}

.resposta {
    border: none;
    resize: none;
    width: 80%;
    height: 100px;
    overflow: hidden;
    overflow-y: auto;
    padding: 10px;
    font-size: 20px;
    text-align: start;
}


@media (max-width: 760px) {
    #side-bar {
        width: 250px;
    }

    .user {
        font-size: 14px;
    }

    #lateral-menu {
        width: 70px;
    }
}

@media (max-width: 360px) {
    #side-bar {
        width: 150px;
    }
}